/* ==== MODAL ====*/

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  transition: all 0.3s;

  &.js-active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  max-width: 500px;
  width: 100%;

  //display: none;
  opacity: 0;
  visibility: hidden;

  padding: 20px 50px;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  text-align: center;
  border-radius: 3px;
  transition: 0.3s all;
  background-color: #f1f1e4;

  &.js-active {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: $md3+px) {
    //max-width: unset;
    //width: unset;
  }

  &__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
    transform: rotate(0);
    transition: all 0.3s ease 0s;

    &:hover {
      transform: rotate(-90deg);

    }
  }

  &__word-to-delete {
    position: relative;
    padding: 0 5px;
    //border-bottom: 2px solid #8ad1ec;
    font-weight: 400;
    font-size: 20px;
    background-color: #d0ded9;

    &::before,
    &::after {
      position: absolute;
      content: '-';
      left: -10px;
    }

    &::after {
      right: -10px;
      left: unset;
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__subtitle {
    margin: 20px 0;
  }

  &__delete-btn,
  &__undo-btn,
  &__btn {
    border: 1px solid tomato;
    transition: all 0.3s ease;
    padding: 2px 10px;

    &:hover {
      background-color: tomato;
      color: white;
    }
  }

  &__undo-btn,
  &__btn {
    border-color: green;
    &:hover {
      border-color: green;
      background-color: green;
    }
  }

  &__btn {
    margin-top: 20px;

    @media (max-width: $md3+px) {
      margin-top: 0;
    }
  }

  &__delete-btn {
    display: none;
  }

  &__confirm {
    margin-top: 10px;
  }

  &__confirm-input {
    border: none;
    border-bottom: 2px solid #8ad1ec;
    //background-color: inherit;
    text-align: center;
    padding: 4px 10px;
    font-size: 16px;
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__separator {
    @media (max-width: $md3+px) {
      display: none;
    }
  }

  &__label {
    @media (max-width: $md3+px) {
      margin-bottom: 30px;
    }

  }

  &__input {
    position: relative;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 10px;
  }

  &__warning {
    bottom: unset;
    left: 30px;
  }

  &__buttons {
    margin-top: 30px;
  }

  &__training {

  }

  &__train-options {

  }

  &__select-label {

  }

  &__select {
    display: block;
    padding: 5px 15px;
    margin: 25px auto;
    outline: transparent;
    border: none;
  }
}


.modal-edit {
  padding: 20px;
}

.test {
  padding-bottom: 70px;
  padding-top: 50px;
  overflow: hidden;
  max-width: 500px;

  @media (max-width: $md4+px) {
    padding: 50px 20px 50px;
  }

  &__slider {
    overflow: hidden;
  }

  &__slider-wrapper {
    display: flex;
    transition: all 0.3s ease 0s;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 100%;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__word {
    display: block;
    width: 100%;
    font-size: 28px;
    padding: 5px;
    text-align: center;
    //background-color: #eee1c7;
    margin-bottom: 20px;
  }

  &__answers {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @media (max-width: $md3+px) {

    }
  }

  &__answer {
    display: block;
    width: 100%;
    padding: 10px 15px;
    //min-height: 30px;
    margin-bottom: 5px;
    text-align: left;
    border: 1px solid #ccc;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #8ad1ec;
    }

    &.js-wrong {
      background-color: LightCoral;
    }

    &.js-right {
      background-color: #76D7C4;
    }

    &.js-hidden {
      font-size: 0;
      &:hover {
        background-color: inherit;
        cursor: auto;
      }
    }

    &.js-show-answer {
      border: 2px solid #76D7C4;
    }

    @media (max-width: $md3+px) {
      font-size: 16px;
      //padding: 10px 15px;
      //min-height: 42px;
    }
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 0 auto;

    & div {
      padding: 5px 10px;
      font-weight: 700;
    }
  }

  &__stats-right {
    border: 1px solid black;
    border-right: 0.1px transparent;
    background-color: #68e068;
  }

  &__stats-wrong {
    border: 1px solid black;
    border-left: 0.1px transparent;
    background-color: #ec7171;
  }

  &__stats-title {
    margin-right: 20px;
  }

  &__stats-word {
    font-weight: 700;
    margin-right: 5px;
    &::before,
    &::after {
      content: '"';
    }
  }

  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: right;
    min-height: 26px;
    margin-top: 10px;

    @media (max-width: $md3+px) {
      //width: unset;
    }
  }

  &__next,
  &__close,
  &__prev {
    display: none;
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: #ded3d3;
  }

  &__next {
    position: relative;
    margin-left: auto;
    &::after {
      position: absolute;
      content: ">";
      right: 4px;
    }
  }

  &__close {
    //margin: 0 auto 0 0;
  }

  &__prev {
    position: relative;
    margin-right: auto;
    &::before {
      position: absolute;
      content: "<";
      left: 4px;
    }
  }

  &__counter {
    position: absolute;
    bottom: 20px;
    left: 20px;

  }
}

.counter {
  padding: 5px 10px;
  background-color: #ecddcd;
  border-radius: 5px;

  &__current {
    position: relative;
    padding-right: 5px;
    &::after {
      position: absolute;
      content: "/";
      right: -6px;
    }
  }

  &__total {
    padding-left: 5px;
  }
}
