/* ==== MODAL ====*/

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  transition: all 0.3s;

  &.js-active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  max-width: 500px;
  width: 100%;

  //display: none;
  opacity: 0;
  visibility: hidden;

  padding: 20px 50px;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  text-align: center;
  border-radius: 3px;
  transition: 0.3s all;
  background-color: #f1f1e4;

  &.js-active {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: $md3+px) {
    max-width: unset;
    width: unset;
  }

  &__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
    transform: rotate(0);
    transition: all 0.3s ease 0s;

    &:hover {
      transform: rotate(-90deg);

    }
  }

  &__word-to-delete {
    position: relative;
    padding: 0 5px;
    //border-bottom: 2px solid #8ad1ec;
    font-weight: 400;
    background-color: #d0ded9;

    &::before,
    &::after {
      position: absolute;
      content: '-';
      left: -10px;
    }

    &::after {
      right: -10px;
      left: unset;
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__subtitle {
    margin: 20px 0;
  }

  &__delete-btn,
  &__undo-btn,
  &__btn {
    border: 1px solid tomato;
    transition: all 0.3s ease;
    padding: 2px 10px;

    &:hover {
      background-color: tomato;
      color: white;
    }
  }

  &__undo-btn,
  &__btn {
    border-color: green;
    &:hover {
      border-color: green;
      background-color: green;
    }
  }

  &__btn {
    margin-top: 20px;

    @media (max-width: $md3+px) {
      margin-top: 0;
    }
  }

  &__delete-btn {
    display: none;
  }

  &__confirm {
    margin-top: 10px;
  }

  &__confirm-input {
    border: none;
    border-bottom: 2px solid #8ad1ec;
    //background-color: inherit;
    text-align: center;
    padding: 4px 10px;
    font-size: 16px;
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__separator {
    @media (max-width: $md3+px) {
      display: none;
    }
  }

  &__label {
    @media (max-width: $md3+px) {
      margin-bottom: 30px;
    }

  }

  &__input {
    position: relative;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 10px;
  }

  &__warning {
    bottom: unset;
    left: 30px;
  }

  &__buttons {
    margin-top: 30px;
  }

  &__training {

  }

  &__train-options {

  }

  &__select-label {

  }

  &__select {
    padding: 5px 15px;
    margin: 25px 0;
    outline: transparent;
    border: none;
  }
}


.modal-edit {
  padding: 20px;
}
