.content {
  //max-width: 700px;
  //width: 100%;
}

.button {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  outline: transparent;
  transition: all 0.3s;
}

.title {
  position: relative;
  margin: 0 auto 50px;
  padding-bottom: 10px;
  width: 50%;
  text-align: center;
  font-family: $fontFamily2;
  font-size: 40px;
  overflow: hidden;
  /*border-bottom: 1px solid #837d7d;*/
}

.title::before {
  position: absolute;
  top: 53px;
  left: -244px;
  content: '';
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 1px solid #837d7d;
}

.title span {
  margin-left: 10px;
  font-size: 16px;
}

.content {
  margin: 100px 0 0;
  padding: 20px 50px 50px;
  border-radius: 5px 5px 0 0;
  background-color: #f1f1e4;
}

.vocab {

  &__form {
    display: flex;
    align-items: center;
  }

  &__title-box {
    display: flex;
    align-items: center;
  }

  &__title-counter {
    display: none;
    margin-left: 15px;
    font-size: 21px;
    font-weight: 700;
  }

  &__label {
    position: relative;
    margin-right: 20px;
  }

  &__input {
    padding: 5px 10px;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid #837d7d;
    font-size: 16px;
    transition: all 0.3s ease 0s;

    &:focus {
      border-color: #2ab6c6;
    }
  }

  &__add-btn {
    font-size: 16px;
    background-color: #aaf3ab;
  }

  &__warning {
    display: block;
    position: absolute;
    bottom: -18px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    color: #e75656;
    transition: all 0.3s ease;

    &.js-active {
      color: tomato;
      opacity: 1;
      visibility: visible;
      animation: anim 0.4s;
    }
  }

  &__words {
    margin-top: 50px;
  }
}

.list {
  &__row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0 5px 20px;
    border-top: 1px solid #ccc;
    transition: all 0.7s;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-index);
      margin-right: 10px;
      font-size: 12px;
      color: #757575;
    }

    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }

  &__word {
    position: relative;
    margin-right: 20px;
    font-weight: 700;

    &:after {
      content: '-';
      margin-left: 15px;
    }
  }

  &__translation {
    background-color: #e5e2d7;
    padding: 5px 10px;
  }

  &__controls {
    margin-left: auto;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: all 0.3s ease-in-out;

  &.js-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  & button {
    position: relative;
    margin: 0 10px 0 0;
    &:last-child {
      margin: 0;
    }

    &:hover .controls__tooltip {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    top: -45px;
    right: -10px;
    height: 36px;
    padding: 2px 5px;
    background-color: #8ad1ec;
    border-radius: 5px;
    //text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }

  &__edit {
    background-image: url('../assets/images/edit.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;

  }

  &__move {
    border: 1px solid #8ad1ec;
    padding: 0 10px;
    max-width: 80px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #8ad1ec;
      color: #4e4d4d;
    }
  }

  &__remove {
    background-image: url('../assets/images/recycle.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
  }
}

.js-lock {
  overflow: hidden;
}


@keyframes anim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}



