.content {
  width: 100%;
  margin: 20px 0 0;
  padding: 20px 50px 50px;
  border-radius: 5px 5px 0 0;
  background-color: #f1f1e4;

  @media (max-width: $md3+px) {
    padding: 20px 15px 50px;
  }
}

.button {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  outline: transparent;
  transition: all 0.3s;
}

.title {
  position: relative;
  margin: 0 auto 50px;
  padding-bottom: 10px;
  text-align: center;
  font-family: $fontFamily2;
  font-size: 40px;
}

.title span {
  margin-left: 10px;
  font-size: 16px;
}

.input-warning {
  display: block;
  position: absolute;
  bottom: -18px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  color: #e75656;
  transition: all 0.3s ease;

  &.js-active {
    color: tomato;
    opacity: 1;
    visibility: visible;
    animation: anim 0.4s;
  }
}

.vocab {
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__label {
    position: relative;
    margin-right: 20px;

    @media (max-width: $md3+px) {
      margin: 0 0 20px;
    }
  }

  &__info-line {
    background-color: #8ad1ec;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md4+px) {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 5px;
    }
  }

  &__title-box {
    display: flex;
    align-items: center;
    padding: 5px 10px;

  }

  &__title-counter {
    display: none;
    margin-left: 15px;
    font-size: 21px;
    //font-weight: 700;
    &::before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }

  &__input {
    padding: 5px 10px;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid #837d7d;
    font-size: 16px;
    transition: all 0.3s ease 0s;

    &:focus {
      border-color: #2ab6c6;
    }
  }

  &__add-btn {
    font-size: 16px;
    background-color: #a9f6d5;
  }

  &__words {
    margin-top: 50px;
    @media (max-width: $md3+px) {
      margin-top: 70px;
    }
  }

  &__after-line {
    padding: 0 20px;
    min-height: 40px;
    //background-color: #8ad1ec;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $md3+px) {
      margin-top: 40px;
    }
  }

  &__info {
    flex: 0 1 150px;
    width: 100%;
  }

  &__more,
  &__less {
    padding: 5px 10px;
    background-color: #BDE6F6;
  }

  &__training {

  }
}

.training {
  display: flex;
  align-items: center;

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-image: url('../assets/images/training-border.png');
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;

    &:hover {
      background-image: url('../assets/images/training.png');

      .training__tooltip {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__tooltip {
    position: absolute;
    right: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateX(40%);
  }
}

.list {
  &__row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 0 5px 30px;
    border-top: 1px solid #ccc;
    transition: all 0.3s;
    //background-color: #BDE6F6;

    &.js-active {
      background-color: #A7F8C5;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-index);
      margin-right: 10px;
      font-size: 12px;
      color: #757575;
    }

    &:last-child {
      border-bottom: 1px solid #ccc;
    }

    @media (max-width: $md4+px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__word {
    position: relative;
    margin-right: 40px;
    font-weight: 700;
    min-width: 100px;
    //width: 100%;

    @media (max-width: $md3+px) {
      margin-right: 10px;
    }

    @media (max-width: $md4+px) {
      margin: 0 0 10px 10px;

    }
  }

  &__translation {
    background-color: #e5e2d7;
    padding: 5px 10px;

    @media (max-width: $md4+px) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__controls {
    margin-left: auto;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: all 0.3s ease-in-out;

  &.js-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);

    @media (max-width: $md3+px) {
      transform: translateX(40%);
    }
  }

  & button {
    position: relative;
    margin: 0 10px 0 0;
    &:last-child {
      margin: 0;
    }
  }

  @media (max-width: $md3+px) {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 100%;
    transition: all 0.2s ease;
  }



  &__edit {
    background-image: url('../assets/images/edit.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;

  }

  &__move {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;


    &:hover {
      //background-color: #8ad1ec;
      color: #4e4d4d;
      .controls__move-tooltip {
        transform: translate(-20%, -50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__move-icon {
    width: 20px;
    height: 20px;
    background-image: url('../assets/images/download.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
  }

  &__move-tooltip {
    position: absolute;
    top: 50%;
    right: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50%);
    background-color: #8ad1ec;
    border-radius: 5px;
    padding: 0 10px;
    width: 80px;
    transition: all 0.3s ease-in-out;
  }

  &__remove {
    background-image: url('../assets/images/recycle.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
  }
}

.js-lock {
  overflow: hidden;
}

#learned {
  .controls__move-icon {
    background-image: url('../assets/images/down-arrow.png');
    transition: all 0.3s ease 0s;
    transform: rotate(180deg);

    &:hover {
      //transform: rotate(180deg);
    }
  }
}

.sort {
  display: flex;
  align-items: center;

  & button {
    margin: 5px 10px;
    padding: 2px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
  }

  &__shuffle {
    background-image: url('../assets/images/shuffle.png');
    transform: rotate(90deg);
  }

  &__sort {
    background-image: url('../assets/images/sort-colored.png');
    transform: scale(1.3);
  }
}


@keyframes anim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}



